$dark-blue: rgb(35, 38, 100);
$green: rgb(65, 214, 90);
$green-darken: rgb(73, 208, 101);
$white: rgb(255, 255, 255);

:host {
  color: rgb(161, 164, 197);
  padding: 27px 0px 30px 27px;
}

.value {
  font-size: 28px;
  color: $white;
}

.progress-bar-label {
  position: absolute;
  right: 30px;
}

.progress-bar-label span {
  font-size: 12px;
}

.label-white {
  color: $white;
}