<div id="container">
  <sidebar></sidebar>
  <div id="settings">
    <div class="scrolable-container">
      <input-number [label]="'WebRTC control port'" [(value)]="settings.controlPort" [placeholder]="'Enter WebRTC control port here'"></input-number>
      <input-number [label]="'WebRTC data port'" [(value)]="settings.dataPort" [placeholder]="'Enter WebRTC data port here'"></input-number>
      <!-- TODO: remove style attr -->
      <div id="check-port-link" (click)="onPortCheck()" style="top: 27px;">
        Check port
      </div>
      <div id="check-port-link" (click)="onPortCheck()" style="top: 111px;">
        Check port
      </div>
      <input-dir [label]="'Storage directory'" [(value)]="settings.storageDir" [placeholder]="'Select storage directory here'"></input-dir>
      <input-slider [label]="'Storage size'" [(value)]="settings.storageSize" [minValue]="minValue" [maxValue]="maxValue" (valueChange)="storageChange($event)" [isStorage]="true"></input-slider>
      <input-file [label]="'SSL private key'" [(value)]="settings.sslPrivateKey" [style.display]="'none'"></input-file>
      <input-file [label]="'SSL crt'" [(value)]="settings.sslCrt" [style.display]="'none'"></input-file>
      <input-file [label]="'SSL crt bundle'" [(value)]="settings.sslCrtBundle" [style.display]="'none'"></input-file>
      <input-checkbox [label]="'Minimize on close'" [(value)]="settings.isMinimizeToTray"></input-checkbox>
    </div>
    <div class="flex-columns">
      <div class="flex-column-button">
        <button class="button" (click)="onSave()">Save</button>
      </div>
      <div class="flex-column-button">
        <button class="button" (click)="onRestart()" [ngClass]="{'button-orange': settingsChanged, 'button-invisible': !settingsChanged}">Restart</button>
      </div>
      <div class="flex-column flex-row-copyright">
        Copyrights © NOIA.
      </div>
    </div>
  </div>  
</div>
