$light-blue: rgb(57, 64, 187);
:host {
  display: flex;
  justify-content: space-between;
  padding: 30px;
  border-bottom: 1px solid rgb(235, 235, 235);
}

.input-group {
  position: relative;
  width: 346px;
}

.slider-span {
  height: 18px;
  display: block; 
  overflow: hidden;
}

.slider {
  width: 99%;
  margin-top: 8px;
  border: none;
  -webkit-appearance: none;
  float: left;
  /* Override default CSS styles */
  appearance: none;
  /* Full-width */
  height: 2px;
  /* Specified height */
  background: #d3d3d3;
  /* Grey background */
  outline: none;
  /* Remove outline */
  opacity: 0.7;
  /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s;
  /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}

.slider:hover {
  cursor: pointer;
  opacity: 1;
}

.input {
  position: relative;
  right: 0;
  width: 346px;
  margin-top: 10px;
  float: left;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 2px solid $light-blue;
  color: $light-blue;
}

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none !important;
  background-color: $light-blue;
  border-radius: 15px;
  height: 15px;
  width: 15px;
}

.value-label-min {
  width: 50px;
  float: left;
  color: $light-blue;
  font-size: 14px;
}

.value-label-max{
  margin-left: 8px;
  float: right;
  color: $light-blue;
  font-size: 14px;
}