$blue-text: rgb(35, 42, 162);
$grey-text: grey;

:host {
  padding-top: 25px;
  width: 50%;
  text-align: center;
}

.value {
  font-family: "Roboto", sans serif;
  font-size: 26px;
  font-weight: 100;

  color: $blue-text;
}

.label {
  font-family: "Roboto Mono", monospace;
  font-size: 12px;

  color: $grey-text;
}

.label-sm {
  font-size: 14px;
}
