$blue-light: #3940bb;
$blue-light-2: #a1a4c5;
$blue-dark: #3b3e75;
$blue-dark-2: #232664;

$green: #41d65a;
$white: #ffffff;
$grey: #e9eaeb;

$font-family-1: "Roboto", sans serif;
$font-family-2: "Roboto Mono", monospace;
