<div id="container">
  <sidebar></sidebar>
  <div id="settings">
    <input-string [label]="'Wallet'" [(value)]="wallet" [placeholder]="'Paste your ethereum wallet address here'"></input-string>
    <input-string [label]="'Balance (NOIA_TEST)'" [(value)]="walletBalance" [disabled]="true" [style.display]="'none'"></input-string>
    <input-string [label]="'Balance (ETH)'" [(value)]="walletEthBalance" [disabled]="true" [style.display]="'none'"></input-string>
    <div>
      <button class="button" (click)="onSave()">Save</button>
      <!-- TODO: remove style attr -->
      <div id="etherscan-link" (click)="onEtherscan()" [style.display]="'none'" style="margin-left: 10px; margin-top: 10px">
        Open on etherscan
      </div>
    </div>
    <div class="flex-row-copyright">
      Copyrights © NOIA.
    </div>
  </div>
</div>
