<div id="nav">
  <ul>
    <li>
      <a routerLink="/node" [ngClass]="{'active' : url === '/node'}">Node</a>
    </li>
    <li>
      <a routerLink="/wallet" [ngClass]="{'active' : url === '/wallet'}">Wallet</a>
    </li>
    <li>
      <a routerLink="/settings" [ngClass]="{'active' : url === '/settings'}">Settings</a>
    </li>
  </ul>
</div>
<div id="logo">
  <object type="image/svg+xml" data="assets/noia-logo.svg">
    <img src="assets/noia-logo.svg">
  </object>
</div>
<div id="node-version">
  App Version: {{nodeVersion}}
</div>