$light-blue: rgb(57, 64, 187);

:host {
  display: flex;
  flex-direction: column;

  width: 122px;
  background-color: $light-blue;
}

#nav ul {
  list-style-type: none;
  padding-left: 30px;
  margin: 0;
}

#nav ul li {
  padding-top: 30px;
}

#nav a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 16px;
  opacity: 0.6;
}

#nav a.active {
  opacity: 1;
}

#logo {
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 25px;
}