$light-blue: rgb(57, 64, 187);
$dark-blue: rgb(35, 38, 100);
$label-color: rgb(16, 20, 102);
$green: rgb(65, 214, 90);

#auto-reconnect {
  margin-left: auto;
  padding-right: 27px;
  color: #9395b3;
}

#settings {
  display: flex;
  flex-direction: column;
  width: 604px;
}

:host {
  display: flex;
  flex-direction: column;

  width: 392px;
  background-color: rgb(255, 255, 255);
}

:host .first-row {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgb(233, 234, 235);
}

:host .second-row {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgb(233, 234, 235);
}

:host .third-row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}