$light-blue: rgb(57, 64, 187);
$dark-blue: rgb(35, 38, 100);
$label-color: rgb(16, 20, 102);

:host {
  padding-top: 25px;
  width: 50%;
  text-align: center;
}

.value {
  font-family: "Roboto", sans serif;
  font-size: 26px;
  font-weight: 100;

  color: rgb(35, 42, 162);
}

.label {
  font-family: 'Roboto Mono', monospace;
  font-size: 12px;

  color: grey;
}