$dark-blue: rgb(35, 38, 100);
$green: rgb(65, 214, 90);
$green-darken: rgb(73, 208, 101);
$white: rgb(255, 255, 255);

.progress-bar-group {
  position: relative;
}

.progress-bar {
  margin-top:10px;
  height: 4px;
  border-radius: 8px;
  background-color: rgb(83, 86, 134);
  width: 118px;
  display: inline-block;
}
.progress-bar div {
  height: inherit;
  background-color: $green-darken;
  border-radius: 8px;
}

/* stat line */

stat-data:not(:last-child) {
  border-bottom: 1px solid rgb(59, 62, 117);
}

:host {
  color: rgb(161, 164, 197);
  padding: 30px 0px 30px 30px;
  border-bottom: 1px solid rgb(59, 62, 117);
}
:host:last-child {
  border-bottom: none;
}

:host .value {
  font-size: 28px;
  color: $white;
}

:host .progress-bar-label {
  position: absolute;
  right: 15px;
}
:host .progress-bar-label span {
  font-size: 12px;
}

:host > .label-white {
  color: $white;
}